---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p class="mb-4">
            I am <span style="font-weight: bold">FazeCT</span>, a Reverser from team <Link
              href="https://bkisc.com"
              class="text-foreground"
              external
              underline>BKISC</Link
            >, HCMC University of Technology. I have been studying in Computer Science, HCMC University of Technology since <span style="font-weight: bold">October 2021</span>. 
          </p>
          <p>
            Started playing CTFs since <span style="font-weight: bold">August 2022</span>, currently I am focusly learning in the <span style="font-weight: bold">Reverse Engineering (RE)</span> field of CTF.
          </p>

          <h2 class="mb-4 text-2xl font-semibold">Traveler's Almanac</h2>
          <p class="mb-8">
            This map shows my
            
              <span style="display: inline-block; width: 1.6ch; height: 1.6ch; border-radius: 0.1rem; background-color: #4ff9ff;"></span>
              visited countries
            
            and my
              <span style="display: inline-block; width: 1.6ch; height: 1.6ch; border-radius: 0.1rem; background-color: #ff0000;"></span>
              nationality.
          </p>
          <p>
            <img src='/static/world.svg' alt="World" />
          </p>
        </div>
      </div>
    </section>
  </Container>
</Layout>
